<div class="settings">

  <ion-accordion-group value="starting-count">

    <ion-accordion value="starting-count">
      <ion-item slot="header" color="light">
        <ion-label>Starting Counts</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <form [formGroup]="settingsForm" (ngSubmit)="onSave()" class="game-settings">

          <ion-list>
            <ion-item>
              <ion-input label="Starting Strike Count" type="number" formControlName="startingStrikeCount" />
            </ion-item>

            <ion-item>
              <ion-input label="Starting Ball Count" type="number" formControlName="startingBallCount" />
            </ion-item>

            <ion-item>
              <ion-input label="Starting Strike Count" type="number" formControlName="startingFoulCount" />
            </ion-item>

            <ion-item>
              <ion-input label="Starting Out Count" type="number" formControlName="startingOutCount" />
            </ion-item>

            <ion-item>
              <ion-input label="Innings" type="number" formControlName="numberOfInnings" />
            </ion-item>

            <ion-item>
              <ion-input label="Game Duration(minutes)" type="number" formControlName="gameDuration" />
            </ion-item>

            <div>
              <ion-button type="submit">Save</ion-button>
            </div>

          </ion-list>
        </form>
      </div>
    </ion-accordion>

  </ion-accordion-group>

</div>
