<div class="settings">

  <ion-accordion-group value="starting-count" multiple="true">

    <form [formGroup]="settingsForm" (ngSubmit)="onSave()" class="game-settings">

      <ion-accordion value="starting-count">

        <ion-item slot="header" color="light">
          <ion-label>Starting Counts</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">

            <ion-list>
              <ion-item>
                <ion-input label="Starting Strike Count" labelPlacement="stacked" type="number" formControlName="startingStrikeCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Starting Ball Count" labelPlacement="stacked" type="number" formControlName="startingBallCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Starting Foul Count" labelPlacement="stacked" type="number" formControlName="startingFoulCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Starting Out Count" labelPlacement="stacked" type="number" formControlName="startingOutCount" />
              </ion-item>

            </ion-list>

        </div>
      </ion-accordion>

      <ion-accordion value="max-count">

          <ion-item slot="header" color="light">
            <ion-label>Max Counts</ion-label>
          </ion-item>

          <div class="ion-padding" slot="content">

            <ion-list>

              <ion-item>
                <ion-input label="Max Strike Count" labelPlacement="stacked" type="number" formControlName="maxStrikeCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Max Ball Count" labelPlacement="stacked" type="number" formControlName="maxBallCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Max Foul Count" labelPlacement="stacked" type="number" formControlName="maxFoulCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Max Out Count" labelPlacement="stacked" type="number" formControlName="maxOutCount" />
              </ion-item>

              <ion-item>
                <ion-input label="Innings" type="number" labelPlacement="stacked" formControlName="numberOfInnings" />
              </ion-item>

              <ion-item>
                <ion-input label="Game Duration(minutes)" labelPlacement="stacked" type="number" formControlName="gameDuration" />
              </ion-item>

            </ion-list>
          </div>

      </ion-accordion>

<!--      <ion-button type="submit">Save</ion-button>-->

    </form>

  </ion-accordion-group>

</div>
