<div class="game-tracker">
  <div class="score-inning">

    <div class="scores">
      <app-ticker [teamVisitation]="TeamVisitationTypes.away" [score]="awayTeamScore" [inningPosition]="currentInningPosition"
                  [countType]="CountTypes.score" (tickerClicked)="onScoreClick($event)" id="away-team-picker" [marqueeText]="awayTeamName" [bgColor]="awayTeamColor" />
      <app-ticker [teamVisitation]="TeamVisitationTypes.home" [score]="homeTeamScore" [inningPosition]="currentInningPosition"
                  [countType]="CountTypes.score" (tickerClicked)="onScoreClick($event)" id="home-team-picker" [marqueeText]="homeTeamName" [bgColor]="homeTeamColor" />
    </div>

    <div class="inning">
      <app-inning-ticker [inningPosition]="currentInningPosition" [currentInning]="currentInning"/>
    </div>

  </div>

  <div class="pitch-count">
    <app-ticker [score]="currentBallsCount" [countType]="CountTypes.ball" (tickerClicked)="onTickerClick($event)"/>
    <app-ticker [score]="currentStrikesCount" [countType]="CountTypes.strike" (tickerClicked)="onTickerClick($event)"/>
    <app-ticker [score]="currentFoulsCount" [countType]="CountTypes.foul" (tickerClicked)="onTickerClick($event)"/>
    <app-ticker class="out" [score]="currentNumberOfOuts" [countType]="CountTypes.out" (tickerClicked)="onTickerClick($event)"/>
  </div>

  <div class="runner-scored">
    <ion-button (click)="onRunnerScored()">Runner Scored</ion-button>
  </div>

  <div class="kicker-is-safe">
    <ion-button (click)="onKickerSafe()">Kicker is safe!</ion-button>
  </div>

  <div class="game-clock">
    <div>Game Clock</div>
    <ion-button (click)="toggleTimeRemaining()" size="large">
      <div class="time-remaining">
        <div>
          <ion-icon name="{{ timeRemainingId ? 'pause-sharp' : 'play-sharp' }}"></ion-icon>
        </div>
        <div>{{ timeRemaining | timeRemaining }}</div>
      </div>
    </ion-button>
  </div>

  <div class="edits">
    <ion-button [disabled]="!editsService.canUserUndo()" (click)="handleEdits(EditTypes.undo)">
      <div>Undo</div>
      <div>
        <ion-icon name="arrow-undo-sharp"></ion-icon>
      </div>
    </ion-button>
    <ion-button [disabled]="!editsService.canUserRedo()" (click)="handleEdits(EditTypes.redo)">
      <div>Redo</div>
      <div>
        <ion-icon name="arrow-redo-sharp"></ion-icon>
      </div>
    </ion-button>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" aria-label="Reset Game" (click)="confirmGameReset()">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @if (weDebuggingOrNah) {
    <div class="debug-info">
      @for (action of editsService.getActions(); let i = $index; track $index;) {
        <div>{{ editsService.getCurrentIndex() === i ? '->' : '' }} {{ i }}: {{ action.action }} - {{ action.value }}
          - {{ action.isBulkAction }}
        </div>
      }
    </div>
  }

  <div class="end-of-content"></div>
</div>

<ng-template #teamSelector let-visitationType="visitationType">
  <ion-select interface="action-sheet" (ionChange)="onTeamSelectChange($event, visitationType)">
    <ion-select-option value=""></ion-select-option>
    @for (team of teams; track $index;) {
      <ion-select-option value="{{team.name}}">{{ team.name }}</ion-select-option>
    }
  </ion-select>
</ng-template>

<ion-popover trigger="away-team-picker" triggerAction="context-menu" [isOpen]="isAwayTeamPopoverOpen" (didPresent)="isAwayTeamPopoverOpen = true">
  @if (isAwayTeamPopoverOpen) {
    <ng-container *ngTemplateOutlet="teamSelector; context: { visitationType: 'away'}"></ng-container>
  }
</ion-popover>

<ion-popover trigger="home-team-picker" triggerAction="context-menu" [isOpen]="isHomeTeamPopoverOpen" (didPresent)="isHomeTeamPopoverOpen = true">
  @if (isHomeTeamPopoverOpen) {
    <ng-container *ngTemplateOutlet="teamSelector; context: { visitationType: 'home'}"></ng-container>
  }
</ion-popover>

